

<div *ngIf="!course">
    <h2 style="text-align: center; margin-top: 20px;">Add Course</h2>

</div>
<div *ngIf="course">
    <h2 style="text-align: center; margin-top: 20px;">Edit Course</h2>

</div>

 <form [formGroup]="courseForm" (ngSubmit)="onSubmit()" class="course-form">
    <div class="form-group">
        <label for="name">Course Name:</label>
        <input type="text" id="name" formControlName="name">
        <mat-error *ngIf="courseForm.get('name')?.hasError('required')">Course Name is required</mat-error>
    </div>

    <div class="form-group">
        <label for="categoryId">Category:</label>
        <select id="categoryId" formControlName="categoryId" required>
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>
        <mat-error *ngIf="courseForm.get('categoryId')?.hasError('required')">Category is required</mat-error>
    </div>

    <div class="form-group">
        <label for="lessonCount">Lesson Count:</label>
        <input type="number" id="lessonCount" formControlName="lessonCount">
        <mat-error *ngIf="courseForm.get('lessonCount')?.hasError('required')">Lesson count is required</mat-error>
        <mat-error *ngIf="courseForm.get('lessonCount')?.hasError('min')">Lesson count must be at least 3</mat-error>
    </div>

    <div class="form-group">
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" formControlName="startDate">
        <mat-error *ngIf="courseForm.get('startDate')?.hasError('required')">Start Date is required</mat-error>
    </div>

    <div class="form-group">
        <label>Syllabus:</label>
        <div formArrayName="syllabus">
            <div *ngFor="let syllabusControl of syllabusControls.controls; let i = index;">
                <input type="text" [formControlName]="i" (change)="onInputChange()">
            </div>
        </div>
        <mat-error *ngIf="courseForm.get('syllabus')?.hasError('required')">Syllabus is required</mat-error>
    </div>

    <div class="form-group">
        <label for="learningMode">Learning Mode:</label>
        <select id="learningMode" formControlName="learningMode">
            <option value="1">Frontal</option>
            <option value="2">Zoom</option>
        </select>
        <mat-error *ngIf="courseForm.get('learningMode')?.hasError('required')">Learning Mode is required</mat-error>
    </div>

    <div class="form-group">
        <label for="lecturerId">Lecturer:</label>
        <select id="lecturerId" formControlName="lecturerId" required>
            <option *ngFor="let lecturer of lecturers" [value]="lecturer.id">{{ lecturer.name }}</option>
        </select>
        <mat-error *ngIf="courseForm.get('lecturerId')?.hasError('required')">Lecturer is required</mat-error>
    </div>

    <div class="form-group">
        <label for="image">Image URL:</label>
        <input type="text" id="image" formControlName="image">
        <mat-error *ngIf="courseForm.get('image')?.hasError('required')">Image URL is required</mat-error>
    </div>

    <div *ngIf="course">
        <button type="button" (click)="fetchf(course)">Cancel</button>
    </div>

    <button type="submit" [disabled]="courseForm.invalid">Save</button>
</form>
