
<div *ngIf="course" class="course-details-container">
  <div class="course-header">
    <h2>{{ course.name }}</h2>
    <p>{{ getCategoryName(course.categoryId) }}</p>
    <div class="details-item">
      <img src="{{ getCategoryImg() }}" class="category-icon" alt="Category Image">
    </div>
    <p>Lesson Count: {{ course.lessonCount }}</p>
    <p [ngClass]="{'upcoming-week': isStartInNextWeek(course.startDate)}">Start Date: {{ course.startDate | date:'shortDate' }}</p>
    <div class="learning-mode">
      <p>Learning Mode:</p>
      <img src="{{ course.learningMode.toString() | learningModeIcon }}" class="learning-mode-icon" alt="Learning Mode Icon">
    </div>
    <p>Lecturer: {{ getLecturerName(course.lecturerId) }}</p>
  </div>
  <div class="course-content">
    <p>Syllabus:</p>
    <ul>
      <li *ngFor="let syllabusItem of course.syllabus">
        <span class="custom-icon"></span> {{ syllabusItem }}
      </li>
    </ul>
    <img class="course-image" [src]="course.image" alt="Course Image">
  </div>
  <div *ngIf="isLecturer()">
    <button (click)="editCourse(course.id)">Edit</button>
  </div>
</div>
