/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */

.course-details-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.course-header {
  margin-bottom: 20px;
}

.course-header h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

.course-content {
  margin-top: 20px;
}

.course-content p {
  margin-bottom: 8px;
}

.course-image {
  display: block;
  margin-top: 20px;
  max-width: 100%;
  height: auto;
}

.upcoming-week {
  font-weight: bold;
  color: red;
}

.course-content ul {
  list-style-type: none;
  padding-left: 0;
}

.course-content li {
  margin-bottom: 5px;
}

.syllabus-icon {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}
.custom-icon {
  background-image: url('../../../../assets/icons/vi.png');
  background-size: contain; /* מתאים את התמונה כך שהיא תמלא את כל הגודל של האלמנט */
  background-repeat: no-repeat; /* מונע חזרה על התמונה במקרה שהתמונה גדולה מדי */
  display: inline-block;
  margin-right: 5px;
  width: 16px;
  height: 16px;
}

