<!-- 
<mat-toolbar>
    <span>School Site   </span>
    <nav>
      <ul>
        <li>
            <a routerLink="/login">login</a>
        </li>
        <li>
            <a routerLink="/register">register</a>
        </li>
        <li>
            <a routerLink="/logout">logout</a>
        </li>
        <li>
            <a routerLink="/allCourses">allCourses</a>
        </li>
        <li>
            <a routerLink="/addCourse">addCourse</a>
        </li>
      </ul>
    </nav>
  </mat-toolbar>
 -->
